# Connect Data base in Python & Writing sql commands in Python

In [ ]:
# importing the module
import sqlite3

### To View list of tables in the existing database

In [ ]:
# connect withe the myTable database
connection = sqlite3.connect("D://Files//chinook.db")

# cursor object
# A cursor is an object which helps to execute the query and fetch the records from the database
crsr = connection.cursor()

# execute the command to view all tables in the data base

crsr.execute("SELECT name FROM sqlite_master WHERE type='table';")
#Sqlite_master table is created for each database automatically.
#It describes the schema of each table with some additional informations

print(crsr.fetchall())
# fetches all the rows of a query result. It returns all the rows as a list of tuples

In [ ]:
# # execute the command to fetch all the data from the table albums
crsr.execute("SELECT * FROM albums")
  
# store all the fetched data in the ans variable
ans = crsr.fetchall()
print(ans)

In [ ]:
# execute the command to fetch all the data from the table employees
crsr.execute("SELECT * FROM employees")
  
# store all the fetched data in the ans variable
ans1 = crsr.fetchall()
print(ans1)

In [ ]:
# execute the command to fetch all the data from the table employees
crsr.execute("SELECT * FROM employees")
  
# store all the fetched data in the ans variable
ans = crsr.fetchall()
  
# Since we have already selected all the data entries
# using the "SELECT *" SQL command and stored them in
# the ans variable, all we need to do now is to print
# out the ans variable
for i in ans:
    print(i)

## Create Database (test_database2)

In [ ]:
## import sqlite3

connection = sqlite3.connect('D://Files//test_database') 
c = connection.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id1] INTEGER PRIMARY KEY, [product_name1] TEXT)
          ''')
          
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([product_id1] INTEGER PRIMARY KEY, [price1] INTEGER)
          ''')
                     
connection.commit()

### Insert values into the tables

In [ ]:
c.execute('''
          INSERT INTO products (product_id1, product_name1)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')

c.execute('''
          INSERT INTO prices (product_id1, price1)

                VALUES
                (1,1800),
                (2,1200),
                (3,1300),
                (4,1450),
                (5,1150)
          ''')

connection.commit()

### Display the results
 join the ‘products‘ table with the ‘prices‘ table using the product_id column which is present in both tables.

In [ ]:
import pandas as pd
c.execute('''
          SELECT
          a.product_name1,
          b.price1
          FROM products a
          LEFT JOIN prices b ON a.product_id1 = b.product_id1
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name1','price1'])
print (df)

In [ ]:
# connect with the created database
connection = sqlite3.connect("D://Files//test_database3")

# cursor object
crsr = connection.cursor()

# execute the command to view all tables in the test_database 
crsr.execute("SELECT name FROM sqlite_master WHERE type='table';")

print(crsr.fetchall())

In [ ]:
cursor = crsr.execute("SELECT * FROM prices")
print(crsr.fetchall())

In [ ]:
# delete a record from database
crsr.execute("DELETE from prices where price=1200")
cursor = crsr.execute("SELECT * FROM prices")
#print( "Total number of rows deleted :", crsr.total_changes)
for row in cursor:
    print (row)

crsr.close()