### Selenium
Selenium is a Python tool for automating web browsers to do number of tasks.

In [1]:
url="https://www.naukri.com/data-science-jobs?k=data%20science"

In [ ]:
#!pip install Selenium

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import os
os.chdir('D:\\scripts\\scrapping\\new')# install mozila geckodriver
# Firefox webdriver driver github
# WebDriver is a remote control interface that enables introspection and control of user agents

Selenium Firefox Driver, also called GeckoDriver is a browser engine developed by Mozilla for many applications. It provides a link between test cases and the Firefox browser. Without the help of GeckoDriver, one cannot instantiate the object of Firefox browser and perform automated Selenium testing.

In [3]:
#initiate the mozila firefox/Edge
#browser=webdriver.Firefox()
browser=webdriver.Edge()

In [4]:
browser.get(url)

In [5]:
html=browser.page_source  
#page_source method is used retrieve the page source of the webpage the user is currently accessing. 
soup=BeautifulSoup(html,'html.parser')

In [6]:
# position  #select() method to locate all elements of a particular CSS class
soup.select('a.title.ellipsis')

[<a class="title ellipsis" href="https://www.naukri.com/job-listings-data-science-professional-akn-it-services-chennai-0-to-1-years-020323906578" target="_blank" title="Data Science Professional">Data Science Professional</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-opening-for-data-engineer-data-science-ml-analytics-gd-hyd-globaldata-hyderabad-secunderabad-1-to-3-years-060323004653" target="_blank" title="Job opening For Data Engineer(Data Science/ML/Analytics@ GD(Hyd)">Job opening For Data Engineer(Data Science/ML/Analytics@ GD(Hyd)</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-senior-analyst-data-science-analytics-transunion-software-services-pvt-ltd-pune-5-to-8-years-070323501775" target="_blank" title="Senior Analyst, Data Science &amp; Analytics">Senior Analyst, Data Science &amp; Analytics</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-analyst-data-science-navit-software-solutions-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-3-to-7-years-070323501281" target="_blank" title="Analyst Data Science">Analyst Data Science</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-data-science-analyst-shell-pvt-ltd-chennai-2-to-5-years-280223502254" target="_blank" title="Data Science Analyst">Data Science Analyst</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-data-science-lead-manager-product-based-ecommerce-company-mnc-contrado-imaging-india-pvt-ltd-ahmedabad-5-to-10-years-070323006163" target="_blank" title="Data Science Lead / Manager - Product based eCommerce Company (MNC)">Data Science Lead / Manager - Product based eCommerce Company (MNC)</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-manager-data-science-analytics-novartis-healthcare-pvt-ltd-hyderabad-secunderabad-10-to-15-years-230223502868" target="_blank" title="Manager- Data Science &amp; Analytics">Manager- Data Science &amp; Analytics</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-senior-analyst-analytics-and-data-science-everquote-remote-3-to-7-years-270223502546" target="_blank" title="Senior Analyst, Analytics and Data Science">Senior Analyst, Analytics and Data Science</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-p02-sr-data-science-analyst-transunion-software-services-pvt-ltd-chennai-7-to-10-years-070323501772" target="_blank" title="P02 - Sr Data Science Analyst">P02 - Sr Data Science Analyst</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-data-science-analyst-kireeti-consultants-hyderabad-secunderabad-2-to-6-years-211122002831" target="_blank" title="Data Science Analyst">Data Science Analyst</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-data-science-lead-cliqhr-mumbai-hyderabad-secunderabad-pune-chennai-delhi-ncr-5-to-10-years-230223910676" target="_blank" title="Data Science Lead">Data Science Lead</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-data-science-lead-cliqhr-mumbai-hyderabad-secunderabad-pune-chennai-delhi-ncr-5-to-5-years-230223911307" target="_blank" title="Data Science Lead">Data Science Lead</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-python-data-science-analyst-infosys-limited-bhubaneswar-3-to-5-years-060323902597" target="_blank" title="Python - Data Science Analyst">Python - Data Science Analyst</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-data-science-analyst-shell-india-markets-private-limited-chennai-2-to-5-years-010323912857" target="_blank" title="Data Science Analyst">Data Science Analyst</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-data-science-analyst-shell-india-markets-private-limited-chennai-2-to-5-years-010323908373" target="_blank" title="Data Science Analyst">Data Science Analyst</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-manager-data-science-optum-global-solutions-india-private-limited-noida-5-to-7-years-070323904689" target="_blank" title="Manager Data Science">Manager Data Science</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-senior-lead-analyst-data-science-infosys-bpm-pune-bangalore-bengaluru-3-to-8-years-220223009757" target="_blank" title="Senior Lead Analyst- Data Science">Senior Lead Analyst- Data Science</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-senior-analyst-data-science-tiger-analytics-chennai-0-to-4-years-150223501120" target="_blank" title="Senior Analyst - Data Science">Senior Analyst - Data Science</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-senior-analyst-data-science-tiger-analytics-chennai-0-to-4-years-141222502588" target="_blank" title="Senior Analyst - Data Science">Senior Analyst - Data Science</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-specialist-data-analytics-statistical-analysis-non-data-science-gartner-india-research-advisory-services-pvt-ltd-gurgaon-gurugram-0-to-3-years-310123500074" target="_blank" title="Specialist- Data Analytics (Statistical Analysis &amp; Non Data Science)">Specialist- Data Analytics (Statistical Analysis &amp; Non Data Science)</a>,
 <a class="title ellipsis" href="https://www.naukri.com/job-listings-diageo-data-science-analyst-specialist-bengaluru-diageo-bangalore-bengaluru-2-to-7-years-240223006711" target="_blank" title="Diageo - Data Science Analyst/Specialist- Bengaluru">Diageo - Data Science Analyst/Specialist- Bengaluru</a>]

In [7]:
soup.select('a.title.ellipsis')[0].text

'Data Science Professional'

In [10]:
# List comprehension
Position=[i.text for i in soup.select("a.title.ellipsis")]
Position

['Data Science Professional',
 'Job opening For Data Engineer(Data Science/ML/Analytics@ GD(Hyd)',
 'Senior Analyst, Data Science & Analytics',
 'Analyst Data Science',
 'Data Science Analyst',
 'Data Science Lead / Manager - Product based eCommerce Company (MNC)',
 'Manager- Data Science & Analytics',
 'Senior Analyst, Analytics and Data Science',
 'P02 - Sr Data Science Analyst',
 'Data Science Analyst',
 'Data Science Lead',
 'Data Science Lead',
 'Python - Data Science Analyst',
 'Data Science Analyst',
 'Data Science Analyst',
 'Manager Data Science',
 'Senior Lead Analyst- Data Science',
 'Senior Analyst - Data Science',
 'Senior Analyst - Data Science',
 'Specialist- Data Analytics (Statistical Analysis & Non Data Science)',
 'Diageo - Data Science Analyst/Specialist- Bengaluru']

In [12]:
company=[i.text for i in soup.select("a.subTitle.ellipsis.fleft")]
company

['AKN It Services',
 'Globaldata',
 'Transunion',
 'Navit Software Solutions',
 'Shell Pvt Ltd',
 'Contrado Imaging India Pvt Ltd',
 'Novartis',
 'Everquote',
 'Transunion',
 'Kireeti Consultants',
 'Cliqhr',
 'Cliqhr',
 'Infosys',
 'Shell',
 'Shell',
 'Optum',
 'Infosys BPM',
 'Tiger Analytics',
 'Tiger Analytics',
 'Gartner',
 'Diageo']

In [ ]:
#Using selenium
#subtitle
#string patterns used to identify an element based on a combination of HTML tag, 
#id, class, and attributes.
#browser.find_elements(by='css selector',value='tag.classname')[0].text

In [13]:
browser.find_elements(by='css selector',value='a.subTitle.ellipsis.fleft')[0].text

'AKN It Services'

In [18]:
#years
soup.find_all('span',class_='ellipsis fleft expwdth')[0].text
#soup.find_all('ul',class_='ellipsis fleft expwdth')[0].find_all("li")[0].text

'0-1 Yrs'

In [15]:
#location
soup.find_all('span',class_='ellipsis fleft locWdth')[0].text
#soup.find_all('ul',class_='mt-7')[0].find_all("li")[2].text

'Chennai'

In [16]:
import pandas as pd
def get_table(soup):
    titles=[i.text for i in soup.select("a.title.ellipsis")]
    company=[i.text for i in soup.select("a.subTitle.ellipsis.fleft")]
    exp=[i.text for i in soup.select("span.ellipsis.fleft.expwdth")]
    loc=[i.text for i in soup.select("span.ellipsis.fleft.locWdth")]
    table=pd.DataFrame({'title':titles,'company':company,'Exp':exp,'location':loc})
    return table

In [17]:
get_table(soup)

,title,company,Exp,location
0,Data Science Professional,AKN It Services,0-1 Yrs,Chennai
1,Job opening For Data Engineer(Data Science/ML/...,Globaldata,1-3 Yrs,Hybrid - Hyderabad/Secunderabad(Kondapur)
2,"Senior Analyst, Data Science & Analytics",Transunion,5-8 Yrs,Pune
3,Analyst Data Science,Navit Software Solutions,3-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
4,Data Science Analyst,Shell Pvt Ltd,2-5 Yrs,Chennai
5,Data Science Lead / Manager - Product based eC...,Contrado Imaging India Pvt Ltd,5-10 Yrs,Hybrid - Ahmedabad
6,Manager- Data Science & Analytics,Novartis,10-15 Yrs,Hyderabad/Secunderabad
7,"Senior Analyst, Analytics and Data Science",Everquote,3-7 Yrs,Permanent Remote
8,P02 - Sr Data Science Analyst,Transunion,7-10 Yrs,Chennai
9,Data Science Analyst,Kireeti Consultants,2-6 Yrs,Hyderabad/Secunderabad(Erragadda +1)
10,Data Science Lead,Cliqhr,5-10 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
11,Data Science Lead,Cliqhr,5-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
12,Python - Data Science Analyst,Infosys,3-5 Yrs,Bhubaneswar
13,Data Science Analyst,Shell,2-5 Yrs,Chennai
14,Data Science Analyst,Shell,2-5 Yrs,Chennai
15,Manager Data Science,Optum,5-7 Yrs,Noida
16,Senior Lead Analyst- Data Science,Infosys BPM,3-8 Yrs,"Pune, Bangalore/Bengaluru"
17,Senior Analyst - Data Science,Tiger Analytics,0-4 Yrs,Chennai
18,Senior Analyst - Data Science,Tiger Analytics,0-4 Yrs,Chennai
19,Specialist- Data Analytics (Statistical Analys...,Gartner,0-3 Yrs,Gurgaon/Gurugram
20,Diageo - Data Science Analyst/Specialist- Beng...,Diageo,2-7 Yrs,Bangalore/Bengaluru

In [19]:
stub='https://www.naukri.com/data-science-jobs-{}?k=data%20science'

In [20]:
stub.format(3)

'https://www.naukri.com/data-science-jobs-3?k=data%20science'

In [21]:
import time
Tables=[]
for i in range(1,10):
    url=stub.format(i)
    browser.get(url)
    time.sleep(2) #suspends (waits) execution of the current thread for a given number of seconds
    html=browser.page_source
    soup=BeautifulSoup(html,"html.parser")
    Tables.append(get_table(soup))

In [ ]:
df=pd.concat(Tables,axis=0)
df.shape

In [ ]:
df.head()

---------------------------------------------End ---------------------------------------------------