### Language Overview
    
           - Variables
           
           - statements & Expressions
           
           - whitespace & comments
                           

### Types and Values

           - Data Types
           
           - user input & output
    
           - type() & id()

#### Variables

In [1]:
### Creata a variable
a=12

In [2]:
### Type of variable
type(a)

int

In [3]:
### Assign multiple values to multiple variables
b=3
c=5
d=6

In [4]:
b=3;c=5;d=6

In [5]:
### Assign same value to multiple variable
x=y=z=8

In [6]:
#python is case sensitive
New=90

In [7]:
New

90

In [8]:
new

NameError: name 'new' is not defined

#### Keywords & Constants

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

All the keywords except True, False and None are in lowercase and they must be written as they are.

The list of all the keywords is given below.

False	await	else	import	pass

None	break	except	in	raise

True	class	finally	is	return

and	continue	for	lambda	try

as	def	from	nonlocal	while

assert	del	global	not	with

async	elif	if	or	yield

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.
Rules for writing identifiers

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.

An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.

Keywords cannot be used as identifiers.

In [9]:
else=67

SyntaxError: invalid syntax (2757961161.py, line 1)

A constant is a type of variable whose value cannot be changed.

In [10]:
pi=3.14

#### Statements and Expressions

An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
– An Expression always evaluates (calculate) to itself.

x = 5, y = 3, z = x + y
In the above example x, y and z are variables, 5 and 3 are values, = and + are operators.

So, the first combination x = 5 is an expression, the second combination y = 3 is an another expression and at last, z = x + y is also an expression.

Any Instruction that a python interpreter can execute (carry out) is called a Statement.

Each and every line or a sentence in any programming language is called an instruction.
In simple words – A Statement is the smallest executable unit of code that has an effect, like creating a variable or displaying a value.
Each and every line of code that we write in any programming language is called a statement

Difference between Expressions and Statements in Python:

Expression	  

                                                                    Statement
                                                                    
An expression evaluates to a value	                          A statement executes something
The evaluation of a statement does not changes state	      The execution of a statement changes state
Evaluation of an expression always Produces or returns
a result value.	                                              Execution of a statement may or may not produces or displays a                                                                 result value, it only does whatever the statement says.
Every expression can’t be a statement.	                      Every statement can be an expression.

Example: >>> a + 16
>>> 20	                                                      Example:  >>> x = 3
                                                               >>> print(x)

                                                                 Output: 3

#### Whitespace & Comment

Indentation: A code block (body of a function, loop, etc.) starts with indentation.
Generally, four whitespaces are used for indentation and are preferred over tabs.

Comment: A Python comment is a line of text that appears in a program but is not executed by the program.

Single line comments: Python single-line comment starts with a hashtag symbol with no white spaces (#) and lasts till the end of the line. If the comment exceeds one line then put a hashtag on the next line and continue the comment.
Multi-line string as a comment: Python multi-line comment is a piece of text enclosed in a delimiter (“””) on each end of the comment. Again there should be no white space between delimiter (“””).

In [11]:
# variable declaration
var1=7

In [12]:
#multi-line comment
""" This is the first line
This is the second line """
var2=0

- numeric (int,float)

- bool

- complex

- string

In [13]:
### int
a1=87

In [14]:
# type of a variable
type(a1)

int

In [16]:
# output
a1

87

In [17]:
### float
b1=6.7

In [18]:
#type of a variable
type(b1)

float

In [19]:
#output
b1

6.7

In [20]:
### bool
b2=True

In [21]:
#type of a variable
type(b2)

bool

In [22]:
# output
b2

True

In [23]:
### complex
c1=5+4j

In [25]:
#type
type(c1)

complex

In [26]:
#output
c1

(5+4j)

In [27]:
### string
s="hello"

In [28]:
# type
type(s)

str

In [29]:
# output
s

'hello'

In [30]:
# case sensitive
Var_3=45
var_3

NameError: name 'var_3' is not defined

In [31]:
# different formats to display output
print(a)

12

In [32]:
print("The value of a1 is",a1)

The value of a1 is 87

In [35]:
print("The value of b1 is",b1,"& c1 is",c1)

The value of b1 is 6.7 & c1 is (5+4j)

In [38]:
print("The value of b1 is {1} and a1 is {0}".format(a1,b1))

The value of b1 is 6.7 and a1 is 87

In [39]:
print("Welcome")
print("to all")

Welcome
to all

In [ ]:
# output : Welcome to all --> using two print() functions.

In [40]:
# with end parameter end =''
print("Welcome", end=" ")
print("to all")

Welcome to all

In [41]:
## user input 
## input() function
v1=input()

56

In [42]:
v1

'56'

In [43]:
# type of a variable input1
type(v1)

str

In [44]:
# Type casting
v2=int(input())

43

In [45]:
type(v2)

int

In [46]:
v3=float(input())

6.9

In [47]:
## multiple inputs
input1=int(input())
input2=float(input())
input3=input()

34
5
python

In [48]:
print(input1);print(input2);print(input3)

34
5.0
python

In [49]:
# split() method to write multiple imputs in a single line
var1,var2=input().split(',')

p,q

In [50]:
var1

'p'

In [51]:
var2

'q'

#### type() and id()

The id() function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.
###### syntax: id(object)

id() function returns the identity of the object. type() function returns the type of the object

In [52]:
id(var1)

2456026971184

In [53]:
id(a)

2456026507920

### Hands-on -Practice

Accept numbers from a user

Display float number with 2 decimal places using print()

Accept 2 float numbers as an input from the user

Accept any three string values from one input() call

Create a variable named carname and assign the value Volvo to it.

Get two inputs in a single line by using user input function

Make a Python program that prints your name.

Get string object '123' from user input function and add value 1.

Make a program that asks the users preferred programming language.