### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
            
         - Set
        
### List Comprehension

#### Data Structures in Python
##### Lists

In [ ]:
An ordered sequence of values enclosed within [ ].

- List can be created by [] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [ ]:
# Create an empty list
List1=[]

In [ ]:
List2=list()

In [ ]:
#type

In [ ]:
type(List1)

In [ ]:
# create a list with int data types
l1=[1,5,6,7]
l1

In [ ]:
# create a list with string data type 
l2=['h','m','o']
l2

In [ ]:
# create a list with mixed data types
l3=[1,7.6,'h']
l3

In [1]:
# Lists are mutable
# change the value '5' into '0' in the list ls3
ls3=[5,6.5,'age',True]
ls3

[5, 6.5, 'age', True]

In [2]:
#change '5' into '10'
ls3[0]=10
ls3

[10, 6.5, 'age', True]

In [3]:
# Extract 'age' from the list ls3
ls3[2]

'age'

In [7]:
ls3[0:3]

[10, 6.5, 'age']

In [4]:
# Extract 'e'  from the list ls3
ls3[2][2]

'e'

In [ ]:
# Extract 'age',True from the list ls3
ls3[2:]

In [ ]:
ls4= [25,31,[3,4],-5]
# extract [3,4] from the list ls4.
ls4[2]

In [8]:
first=[2,34,5,[56,81,[43,89],67],10]
# extract [43,89]
first[3][2]

[43, 89]

In [ ]:
# extract 89
first[3][2][1]

In [9]:
print(dir(first))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [20]:
#extend
newlist1=[1,2,3]
newlist2=[5,6]
newlist1.extend(newlist2)

In [21]:
newlist1

[1, 2, 3, 5, 6]

In [12]:
# append
newlist3=[6,7,8]
newlist4=[9,10]
newlist3.append(newlist4)
newlist3

[6, 7, 8, [9, 10]]

In [ ]:
# insert
#syntax: listobject.insert(index,value)
newlist1.insert(5,34)
newlist1

In [ ]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list

In [26]:
newlist1.pop()

3

In [27]:
newlist1

[1, 2]

In [17]:
newlist1.pop(2)

3

In [18]:
newlist1

[1, 2, 5]

In [13]:
## remove 
# syntax: listobject.remove(value)
list_1=[1,2,'hi','wel',8]

In [14]:
list_1.remove(8)
list_1

[1, 2, 'hi', 'wel']

In [28]:
first=[2,34,5,[56,81,[43,89],67],10,59,57]

In [ ]:
#remove 81

In [29]:
#del
#remove elements from the list : remove 81
del(first[3][1])

In [30]:
first

[2, 34, 5, [56, [43, 89], 67], 10, 59, 57]

In [ ]:
#remove 89
first[3][1].remove(89)

In [ ]:
first

In [ ]:
# remove 43
del(first[3][1])
first

In [ ]:
# remove the values 34 & 5.
first1= [2, 34, 5, 56,[[89], 67], 10, 59, 57]
del(first1[1:3])
first1

In [ ]:
# remove the values 2 and 10 (first1)

In [ ]:
del(first1[0],first1[2])

In [ ]:
first1

In [31]:
# reverse
# syntax: list object.reverse()
list1 = [1, 2, 3, 4, 1, 2, 6]
list1.reverse()

In [32]:
list1

[6, 2, 1, 4, 3, 2, 1]

In [ ]:
#index
# returns the index of the element
# list object.index(value)
list1.index(1)

In [33]:
### Apply + * on list objects
ls1=[12,23,12,45]
ls2=[34,6,7,8]

In [34]:
ls1+ls2

[12, 23, 12, 45, 34, 6, 7, 8]

In [35]:
ls1*3

[12, 23, 12, 45, 12, 23, 12, 45, 12, 23, 12, 45]

In [36]:
# sort the list object in ascending order
ls6=[12,4,78,2,9,54]

In [37]:
# sorted() function
sorted(ls6)

[2, 4, 9, 12, 54, 78]

In [38]:
ls6

[12, 4, 78, 2, 9, 54]

In [41]:
#descending order
sorted(ls6,reverse=True)

[78, 54, 12, 9, 4, 2]

In [39]:
# sort() method
ls6.sort()

In [40]:
ls6

[2, 4, 9, 12, 54, 78]

In [ ]:
#descending order
ls6.sort(reverse=True)

In [ ]:
ls6

In [42]:
# Copy one list from the other list (or) creating a list from existing list by using '=' (or) copy() method
ls9=[1,2,5,2,1,3,2,10]
#create newlist from ls9.

In [43]:
ls10=ls9
ls11=ls9.copy()

In [44]:
print(ls9);print(ls10);print(ls11)

[1, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [45]:
# do changes on original list ls9
ls9[0]=7
print(ls9);print(ls10);print(ls11)

[7, 2, 5, 2, 1, 3, 2, 10]
[7, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [ ]:
#split method
dt='12-08-2022'
dt.split('-')

In [ ]:
# loop
for i in ls1:
    print(i)

In [ ]:
#List comprehension
# one line expression of for loop

In [ ]:
a=[1,2,3,4]
#list of square of elements of a
#for loop
b=[]
for i in a:
    x=i**2
    b.append(x)
print(b)

In [ ]:
#list comprehension : syntax: [expression for if]
[i**2 for i in a]

In [ ]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']
# create a list of elements which has length is greater than 6.
[i for i in cities if len(i)>6]

In [ ]:
L=[4,7,8,9]
# Add value 5 to each element in the list
[i+5 for i in L]

In [ ]:
# Create a list of elements which is greater than 5 in the given list L
[i for i in L if i>5]

In [ ]:
# Addition of two lists L1 and L2 (adding elements in the lists)
L1=[3,4,5,6]
L2=[1,3,5,8]

In [ ]:
# for loop
L=[]
for i in range(len(L1)):
    x=L1[i]+L2[i]
    L.append(x)
print(L)

In [ ]:
# List comprehension
[L1[i]+L2[i] for i in range(len(L1))]

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [ ]:
# empty tuple object
tuple1=()
tuple2=tuple()

In [ ]:
#type
print(type(tuple1))
print(type(tuple2))

In [ ]:
# create a tuple with elements
t3=(4,'hi',True)

In [ ]:
# extract '4' from t3
t3[0]

In [ ]:
# immutable
t3[0]=10

In [ ]:
# convert tuple object into list object
t4=list(t3)
t4[0]=10
t4

In [ ]:
t3=tuple(t4)
t3

In [ ]:
#for loop
for i in t3:
    print(i)

In [ ]:
print(dir(t3))

In [ ]:
### Dictionary
- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [ ]:
# empty dict:
d={}
d1=dict()

In [ ]:
#type
print(type(d))
print(type(d1))

In [ ]:
# create dict of integer values
d2={'one':23,'two':76,'three':90}
d2

In [ ]:
# create  dict of strings values
d3={'new1':'good','new2':'bad'}
d3

In [ ]:
# create dict of mixed data types
d4={'first':56,'second':(4,5,'hi'),'third':[8.9,'the',45]}
d4

In [ ]:
#keys
d4.keys()

In [ ]:
#values
d4.values()

In [ ]:
#items
d4.items()

In [ ]:
d4={'first':[5,6,7],'second':["a","b"],'third':(7,8,0),'fourth':"hello"}
#extract [5,6,7] from d4.
d4['first']

In [ ]:
#extract 6
d4['first'][1]

In [ ]:
#extract 'b'
d4['second'][1]

In [ ]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
# extract 'z'
d5['one']['el_one'][3]['el_two']

In [ ]:
d6={'new':[9,4,5,['split','merge',10]],'old':('s',17,0),'mid':{'ram':4,'ravi':8}}
#Extract 'merge'
d6['new'][3][1]

In [ ]:
#extract 8
d6['mid']['ravi']

In [ ]:
# for loop
for i in d6:
    print(d6[i])

In [ ]:
#mutable
d6['new'][0]=20
d6

In [ ]:
# using pop() method to remove the values in the dictionary
d6['new'].pop(2)

In [ ]:
d6

In [ ]:
print(dir(d6))

In [ ]:
# replace a key name 'mid' into middle
#d6['middle']=d6.pop('mid') # it will replace the values in the corresponding key.

In [ ]:
# using pop() method to rename the key names in the dictionary
d6['middle']=d6.pop('mid')
d6

In [ ]:
?d6.pop() # shift+tab

### Sets
- Unordered sequence of elements

- create set objects by using {} or set()

- sets are immutable

- sets are iterables

In [ ]:
#create a set
# empty set
S=set()
type(S)

In [ ]:
# create a set object of string values
S1={"Monday","Tuesday","Wednesday","Monday"}
S1

In [ ]:
# create a set object of list values
S2=set(["Jan","Feb","Mar",98])

In [ ]:
S2

In [ ]:
#cannot do indexing and slicing

In [ ]:
S2[0]

In [ ]:
#immutable
S2[0]=56

In [ ]:
print(dir(S2))

In [ ]:
# add element in the set S2.
#object.add(value)
S2.add("May")

In [ ]:
#update
#object.update([value1,value2,..])
S2.update(["Jun","July","Aug"])
S2

In [ ]:
# removing the items
- remove()
- pop()
- discard()

#discard() function if the item does not exist in the set then the set remain unchanged 
#whereas remove() method will through an error

In [ ]:
#object.remove(value)
S2.remove(98)
S2

In [ ]:
#object.pop()
S2.pop()

In [ ]:
#object.discard(value)
S2.discard('Jan')
S2

In [ ]:
S2.discard('Jan')

### Set operations
- Union

- Intersection

- Difference

- Symmetric difference

In [ ]:
#union
Days1={'Monday',"Tuesday","Wednesday","Thursday","Sunday"}
Days2={"Friday","Saturday","Sunday"}
#object1.union(object2)
Days1.union(Days2)

In [ ]:
#intersection
#object1.intersection(object2)
Days1.intersection(Days2)

In [ ]:
# difference
# elements in one set which are all not in another set.
A={10,20,30,40,50}
B={100,30,50,40,60}
#object1.difference(object2) # A-B

In [ ]:
A.difference(B)

In [ ]:
# Symmetric differnce
#All the elements except intersection.

In [ ]:
#object1.symmetric_difference(object2)
A.symmetric_difference(B)

In [ ]:
# for loop
for i in A:
    print(i)

In [ ]:
### map and filter function
# find the square of elements in the list
#map function: map square function
b=[2,3,4]
square1=lambda x: x**2
# map(fun,iterable)
list(map(square1,b))

In [ ]:
# filter function
# filter the words from a list that dont start with the letter 's'
seq=['soup','salad','food','great']
list(filter(lambda x:x[0]!='s',seq))

In [ ]:
# Set objects remove duplicates
s=[1,2,4,2,5,3,3,7,7,7]
set1=set(s)
set1

In [ ]:
t=(6,)
type(t)

--------------------------------------------------End--------------------------------------------------------------